<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <i class="fas fa-bolt fa-2x"></i>
      <!-- <i class="fas fa-anchor"></i> -->
      <!-- <ion-icon name="triangle"></ion-icon> -->
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="web-projects">
      <i class="fas fa-anchor fa-2x"></i>
      <!-- <ion-icon name="ellipse"></ion-icon> -->
      <ion-label>Projects</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="resume">
      <i class="fas fa-hat-wizard fa-2x"></i>
      <!-- <i class="fas fa-id-card-alt"></i> -->
      <!-- <ion-icon name="square"></ion-icon> -->
      <ion-label>Resume</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <i class="fas fa-paper-plane fa-2x"></i>
      <!-- <i class="fas fa-anchor"></i> -->
      <!-- <ion-icon name="triangle"></ion-icon> -->
      <ion-label>Contact</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
