<ion-header>
  <ion-toolbar>
    <ion-title><i class="fas fa-money-check-alt"></i> Payment Portal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="row">
    <div class="container">

      <ion-card href="https://cash.app/$shahidfoy" target="_blank">
        <ion-card-header>
          <ion-card-title><i class="fas fa-money-bill-wave"></i> Cash App</ion-card-title>
        </ion-card-header>
      
        <!-- <ion-card-content>
          Cash App account
        </ion-card-content> -->
      </ion-card>

      <ion-card href="https://www.paypal.com/paypalme/shahidfoy?locale.x=en_US" target="_blank">
        <ion-card-header>
          <ion-card-title><i class="fab fa-paypal"></i> PayPal</ion-card-title>
        </ion-card-header>
      
        <!-- <ion-card-content>
          Paypal acccount
        </ion-card-content> -->
      </ion-card>

      <ion-card href="https://account.venmo.com/u/shahidfoy" target="_blank">
        <ion-card-header>
          <ion-card-title><ion-icon name="logo-venmo"></ion-icon> Venmo</ion-card-title>
        </ion-card-header>
      
        <!-- <ion-card-content>
          Venmo account
        </ion-card-content> -->
      </ion-card>
      
      <ion-card>
        <ion-card-header>
          <ion-card-title><ion-icon name="logo-bitcoin"></ion-icon> CRYPTO</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <h4>ERC20</h4>
          <p>WalletAddress:0xd0978e5cf9005e0a23fa48a68a4144f14551770e</p>
          <br>
          <h4>BITCOIN</h4>
          <p>WalletAddress:18z86cvTeuDEeqXcYQt8e6MfGJx27rF1R2</p>
        </ion-card-content>
      </ion-card>

    </div>
  </div>

</ion-content>