<ion-header>
  <ion-toolbar>
    <ion-title><i class="fas fa-hat-wizard"></i> Resume</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
	
<!-- <div class="jumbotron"> -->
  <!-- class="text-center" -->
  <div class="container text-center">
    <h1><strong>SHAHID FOY</strong></h1>
    <h4>720-205-5041</h4>
    <h4>shahidfoy@gmail.com</h4>
  </div>
<!-- </div> -->

<div class="container">
  <div class="resumebody">
  
    <h3>Skills:</h3>
    <ul>
      <li>Angular, NestJS, Spring boot, Typescript, JavaScript, Java, Python, HTML, CSS, MongoDB, MySQL, SQL Server, Splunk</li>
      <li>Windows and Linux based computer skills; MS word, MS office, Power Point and more..</li>
      <li>Ability to multitask</li>
      <li>Problem solving</li>
    </ul>
    
    <h3>Experience</h3>
    
    <p><b>Charles Schwab, Lone Tree CO
    Software Developer, April 2018 - PRESENT
    </b></p>
    <ul>
      <li>Modified existing Escheatment application by improving worksheet process & fixed security vulnerabilities.</li>
      <li>Developed production support UI’s for CERS.</li>
      <li>Co-created common angular libraries in Proget for other Schwab developers to use.</li>
      <li>Participated in Schwab hackathon, created an application to help Schwab employees find jobs internally inside of the company.</li>
      <li>Worked on creating a proof of concept for the Escheatment application.</li>
    </ul>
    
    <p><b>JTOH, Denver CO
    Web Designer, August 2017 – July 2018
    </b></p>
    <ul>
      <li>Developed Websites for JTOH</li>
      <li>Worked in group communities to schedule events on the MSU Denver campus</li>
    </ul>
    
    
    <p><b>WebAct, Denver CO
    Web Designer, June 2016 – October 2016
    </b></p>
    <ul>
      <li>Creating responsive websites that fit on multiple screens ranging from desktops, tablets and smartphones.</li>
      <li>Used HTML, CSS, Javascript, and the WebAct api to provide users with a pleasent User Experience. </li>
      <li>Improved SEO for website searches by including meta data, alt tags, and redirects for older links.
      UI/UX designs</li>
      <li>Worked with various business owners and brought their ideas to life with a website that works around the clock.</li>
    </ul>
    <p><b>Kaiser Permanente, Centennial CO
    Health Insurance Agent, August 2014 – February 2016
    </b></p>
    <ul>
      <li>Assisted over a thousand clients in selecting health plans best fit for their needs</li>
      <li>Provided guidance to clients who were unsure whether or not they qualified for Medicaid. </li>
      <li>Maintained access to all computer systems provided during open enrollment. </li>
      <li>Established a community council to seek out and set up volunteer opportunities.</li>
    
    </ul>
    <p><b>24-7 Intouch, Aurora, CO
    Customer Service Representative, October 2013 – July 2014
    </b></p>
    <ul>
      <li>Solved issues with customers’ orders</li>
      <li>Provided world class customer service</li>
      <li>Furnished knowledgeable information about various questions for in-bound calls</li>
    </ul>
    
    <h4>Web Projects:</h4>
    <ul>
      <li><a href="https://github.com/shahidfoy">GitHub</a></li>
      <li><a href="http://codepen.io/shahidfoy/">CodePen</a></li>
    </ul>
    
    <h3>Education</h3>
    <ul>
      <li>Computer Science | Metropolitan State University Denver</li>
      <li>Associates of Arts Degree | Colorado Mountain College</li>
    </ul>
  </div>
  
  <a href="/assets/Resume_Software%20Developer.pdf">
    <button class="btn btn-primary btn-lg btn-block resumeBtn">
      Resume pdf
    </button>
  </a>

</div>

</ion-content>
