<div class="row">
  <div class="container flex-container">

    <!-- <ion-card href="http://automotivemech.com/" target="_blank">
      <ion-card-header>
        <ion-card-title>Automotive Mech</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/automotive_mech.jpg">
      </ion-card-content>
    </ion-card> -->

    <ion-card href="https://cyberchefai.com/" target="_blank">
      <ion-card-header>
        <ion-card-title>CyberChef AI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img alt="shahid foy shahidfoy codepen" src="assets/cyberchef-img-bg.jpg">
      </ion-card-content>
    </ion-card>

    <ion-card href="https://codepen.io/shahidfoy/" target="_blank">
      <ion-card-header>
        <ion-card-title>Code Pen Projects</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img alt="shahid foy shahidfoy codepen" src="assets/codepen.png">
      </ion-card-content>
    </ion-card>

    <ion-card href="http://pivotvision.com/" target="_blank">
      <ion-card-header>
        <ion-card-title>Pivothead Support</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img alt="shahid foy shahidfoy pivot vision" src="assets/pivotvision.png">
      </ion-card-content>
    </ion-card>

    <ion-card href="https://www.homesketch.com/" target="_blank">
      <ion-card-header>
        <ion-card-title>Home Sketch</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img alt="shahid foy shahidfoy homesketch" src="assets/homesketch.jpg">
      </ion-card-content>
    </ion-card>

    <ion-card href="https://chakratattoo.multiscreensite.com/" target="_blank">
      <ion-card-header>
        <ion-card-title>Charkra Tattoo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img alt="shahid foy shahidfoy chakra tattoo" src="assets/chakra_tattoo.jpg">
      </ion-card-content>
    </ion-card>

    <ion-card href="https://www.reneefajardo.com/" target="_blank">
      <ion-card-header>
        <ion-card-title>Renee Fajardo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img alt="shahid foy shahidfoy renee fajardo" src="assets/reneefajardo.png">
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>More projects coming soon!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- More projects coming soon! -->
        <!-- <img src="assets/reneefajardo.png"> -->
      </ion-card-content>
    </ion-card>

  </div>
</div>